<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>zoAtleta - Seu treino, nossa piada!</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <meta name="theme-color" content="#FC4C02">
        <link rel="stylesheet" href="/static/css/home.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="/static/zoaAtleta_logo.png" alt="zoAtleta Logo">
                <div class="header-text">
                    <h1>zoAtleta</h1>
                    <div class="slogan">Seu treino, nossa piada</div>
                </div>
            </div>

            <div class="description">
                Aplicativo básico criado em Go que irá mudar o nome das suas atividades 
                padrões do Strava para trocadilhos e piadas relacionadas ao esporte, com pitadas
                 de séries, filmes, livros e um pouco de cultura nerd e geek.
            </div>

            <div class="features">
                <h2>Como funciona?</h2>
                <ul>
                    <li>Conecte sua conta do Strava</li>
                    <li>Renomeie suas atividades para trocadilhos</li>
                    <li>Ative a renomeação automática (em desenvolvimento)</li>
                </ul>
            </div>

            <a href="/auth" class="connect-button">
                Conectar com Strava
            </a>

            <img src="/static/api_logo_cptblWith_strava_horiz_gray.png" 
                 alt="Compatible with Strava" 
                 class="strava-badge">
        </div>
    </body>
</html> 